<div class="row animated fadeIn">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Perfi del Usuario</h4>
        <h6 class="card-subtitle">Nombre de Usuario</h6>
        <form
          class="form p-t-20"
          ngNativeValidate
          #f="ngForm"
          (ngSubmit)="guardar(f.value)"
        >
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ti-user"></i></span>
              </div>
              <input
                type="text"
                class="form-control"
                [ngModel]="usuario.nombre"
                name="nombre"
                placeholder="Nombre"
                required
              />
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Correo</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ti-email"></i></span>
              </div>
              <input
                type="email"
                class="form-control"
                [ngModel]="usuario.email"
                name="email"
                placeholder="Correo"
                [disabled]="usuario.google"
                required
              />
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-success waves-effect waves-light m-r-10"
          >
            <i class="fa fa-save"></i>
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Fotografia del Usuario</h4>
        <h6 class="card-subtitle">Nombre de Usuario</h6>
        <form class="form p-t-20">
          <div class="form-group">
            <img src="" alt="" />
            <div class="input-group mb-3">
              <input type="file" />
            </div>
            <button
              type="button"
              class="btn btn-block btn-success waves-effect waves-light m-r-10"
            >
              <i class="fa fa-save"></i>
              Actualizar Foto
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
